.status-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 5px;
  background-color: #82c0bf;
}

#splash-screen img {
  width: 100px;
  height: 100px;
}

.Welcome-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 60px 0px;
}

.Welcome-header__welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  font-size: 25px;
}

.Welcome-header__explain {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  margin-top: -10px;
  color: gray;
}

#login-screen {
  display: flex;
  flex-direction: column;
  margin: 0px 20px;
  padding: 0px 10px;
}

#login-screen input {
  padding: 15px 0px;
  border: none;
  font-size: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 25px;
  transition: border-color 0.3s ease-in-out;
}

#login-screen input:not([type="submit"]) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transition: border-color 0.3s ease-in-out;
}

#login-screen input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

#login-screen input:focus {
  border-bottom-color: yellow;
}

#login-screen input[type="submit"] {
  border-radius: 10px;
  background-color: #82c0bf;
}

#login-screen a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
}
